.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
*.egg-info/

data/raw/
data/interim/
data/processed/

models/*.pth
models/*.onnx
models/*.onnx.data

.ipynb_checkpoints/
mlruns/
mlflow.db

models/